<p id="notice"><%= notice %></p>

<h1>
  <%= @collection.title %>
</h1>

<p>
  <strong>City:</strong>
  <%= City.find(@collection.city_id).title %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@collection.user_id).title %>
</p>


_______________

<h3>Posts:</h3>
<% @collection.posts.each do |post| %>
  <%= render post, post: post, collection: @collection  %>
  <%= link_to "Save to Collection", save_to_collection_post_path(post), :method => :get %>
  <%= link_to "Delete", delete_from_collection_post_path(post, :collection => @collection), :method => :put %>
  <br>
<% end %>

<br>
_______________

<br>


<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
