<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Place:</strong>
  <%= Place.find(@post.place_id).title %>
</p>


_______________

<h3>In collections:</h3>
<% @post.collections.each do |collection| %>
  <%= render collection, collection: collection  %>
<% end %>

<br>
_______________

<br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
