<%= form_with(model: collection_post, local: true) do |form| %>
  <% if collection_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection_post.errors.count, "error") %> prohibited this collection_post from being saved:</h2>

      <ul>
        <% collection_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :collection_id %>
    <%= form.number_field :collection_id %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.number_field :post_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
