<p id="notice"><%= notice %></p>

<h1>
  <%= @place.title %>
</h1>

_______________

<h3>Posts:</h3>
<% @place.posts.each do |post| %>
  <%= render post, post: post  %>
<% end %>

<br>
_______________

<br>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
